In [9]:
import pandas as pd
import numpy as np
from sklearn.cluster import DBSCAN
from sklearn.metrics import silhouette_score

In [2]:
data = pd.read_csv('train.csv')
data.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Data columns (total 11 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   id                  1458644 non-null  object
 1   vendor_id           1458644 non-null  int64
 2   pickup_datetime     1458644 non-null  object
 3   dropoff_datetime    1458644 non-null  object
 4   passenger_count     1458644 non-null  int64
 5   pickup_longitude    1458644 non-null  float64
 6   pickup_latitude     1458644 non-null  float64
 7   dropoff_longitude   1458644 non-null  float64
 8   dropoff_latitude    1458644 non-null  float64
 9   store_and_fwd_flag  1458644 non-null  object
 10  trip_duration       1458644 non-null  int64
dtypes: float64(4), int64(3), object(4)
memory usage: 122.4+ MB

In [4]:
data.drop(['id', 'vendor_id', 'passenger_count', 'store_and_fwd_flag', 'pickup_datetime', 'dropoff_datetime'], axis=1, inplace=True)
data.head()

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration
0,-73.982155,40.767937,-73.964630,40.765602,455
1,-73.980415,40.738564,-73.999481,40.731152,663
2,-73.979027,40.763939,-74.005333,40.710087,2124
3,-74.010040,40.719971,-74.012268,40.706718,429
4,-73.973053,40.793209,-73.972923,40.782520,435

In [5]:
data['distance'] = np.sqrt((data['dropoff_longitude']-data['pickup_longitude'])**2 + (data['dropoff_latitude']-data['pickup_latitude'])**2) * 1000
data.head()

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration,distance
0,-73.982155,40.767937,-73.964630,40.765602,455,17.679539
1,-73.980415,40.738564,-73.999481,40.731152,663,20.455904
2,-73.979027,40.763939,-74.005333,40.710087,2124,59.933799
3,-74.010040,40.719971,-74.012268,40.706718,429,13.438206
4,-73.973053,40.793209,-73.972923,40.782520,435,10.689569

In [6]:
dbscan = DBSCAN(eps = 0.5, min_samples=200)
dbscan.fit(data)

DBSCAN(min_samples=200)

In [7]:
np.unique(dbscan.labels_)

array([-1,  0,  1,  2,  3], dtype=int64)

In [ ]:
silhouette_score(data, dbscan.labels_)