<a href="https://colab.research.google.com/github/amirhr098/NewYork-Yellow-Taxi-Trips-Clustering-With-DBSCAN/blob/master/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import pandas as pd
import numpy as np
from sklearn.cluster import DBSCAN
from sklearn.metrics import calinski_harabasz_score

In [22]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Files/train.csv')
data.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Data columns (total 11 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   id                  1458644 non-null  object
 1   vendor_id           1458644 non-null  int64
 2   pickup_datetime     1458644 non-null  object
 3   dropoff_datetime    1458644 non-null  object
 4   passenger_count     1458644 non-null  int64
 5   pickup_longitude    1458644 non-null  float64
 6   pickup_latitude     1458644 non-null  float64
 7   dropoff_longitude   1458644 non-null  float64
 8   dropoff_latitude    1458644 non-null  float64
 9   store_and_fwd_flag  1458644 non-null  object
 10  trip_duration       1458644 non-null  int64
dtypes: float64(4), int64(3), object(4)
memory usage: 122.4+ MB

In [24]:
data['distance'] = np.sqrt((data['dropoff_longitude']-data['pickup_longitude'])**2 + (data['dropoff_latitude']-data['pickup_latitude'])**2) * 1000
X = pd.DataFrame(data,columns = ['trip_duration', 'distance'])
X.head()

   trip_duration   distance
0            455  17.679539
1            663  20.455904
2           2124  59.933799
3            429  13.438206
4            435  10.689569

In [25]:

X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Data columns (total 2 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   trip_duration  1458644 non-null  int64
 1   distance       1458644 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 22.3 MB

In [36]:
dbscan = DBSCAN(eps = 0.1, min_samples=200)
dbscan.fit(X)

DBSCAN(eps=0.1, min_samples=200)

In [37]:
np.unique(dbscan.labels_)

array([-1,  0,  1,  2])

In [38]:
calinski_harabasz_score(X, dbscan.labels_)

8.292384633587734

In [46]:
r = np.arange(0.05,2,0.05)
ms = np.arange(50,500,50)

In [ ]:
for eps in r:
  for min in ms:
    dbscan = DBSCAN(eps = eps, min_samples=min)
    dbscan.fit(X)
    if(len(np.unique(dbscan.labels_))>1):
      calinski_harabasz_score(X, dbscan.labels_)
      print(str(calinski_harabasz_score(X, dbscan.labels_)),' =>  eps = ',eps,'  min_sampels = ', min)
    else:
      print('ERROR => eps = ',eps,' min_sampels = ', min)